.success,
.error,
.warning {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: darkcyan;
}

.error {
  background: palevioletred;
}

.warning {
  background: darkorange;
}